.arrow-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.arrow-div {
    position: relative;
    padding: 12px 40px;
    background: #FFFFFFB2;
    color: #0054A6;
    font-weight: bold;
    font-size: 40px;
    font-family: Philosopher;
    text-align: center;
    clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
    transition: transform 0.2s ease;
    user-select: none;
}
.content{
    margin-bottom: 100px;
}
.content .title {
    width: 280px;
    border: white solid 2px;
    padding: 20px 50px;
    color: #245cae;
    opacity: 0.6;
    background-color: rgb(128, 128, 233);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    position: relative;
    display: inline-block;
    clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.content .new-document{
    margin-bottom: 100px;
    position: relative;

}
.content .new-document .down{
    position: absolute;
    color: white;
    bottom: 0; /* Đưa xuống dưới cùng */
    left: 50%; /* Căn giữa theo chiều ngang */
    transform: translateX(-50%); /* Điều chỉnh vị trí để căn giữa chính xác */
    color: white;
    padding: 20px; /* Thêm một chút khoảng cách */
    font-size: 32px;
}
.content .new-document .row{
    width: 60%;
    margin: 0 auto;
}
.content .new-document .document{
    position: relative;
}
.content .new-document .img-background {
    width: 100%;
    border-radius: 12px;
}
.content .new-document .icon-doc{
    position: absolute;
    top: 20%;
    left: 22%;
}
.content .new-document .text{
    position: absolute;
    top: 60%;
    left: 10%;
    color: white;
    overflow-wrap: break-word; /* Cho phép xuống dòng nếu từ dài */
    word-wrap: break-word; /* Hỗ trợ cho các trình duyệt cũ */
    white-space: normal;
}


/* List document */
.content .list-document {
    background-color: #FFFFFF;
    opacity: 0.7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}
.content .list-document .filter-date,
.content .list-document .filter-text{
    max-width: 320px;
    width: 100%;
    color: #0054A6;

}
.content .list-document .input-search {
    position: relative;
}
.content .list-document .input-search button{
    border: none;
    background-color: white;
    position: absolute;
    left: 20px;
    top: 24%;
}
.content .list-document .input-search input{
    padding: 4px 8px;
    padding-left: 48px;
    border-radius: 6px;
    background-color: white;
    width: 100%;
}
.content .list-document .filter-date p{
    font-weight: 600;
    font-size: 18px;
}
.content .list-document .filter-date input{
    width: 40%;
    color: #0054A6;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid #0054A6;
    background-color: white;
    padding: 4px;
}

.content .list-document .input-search{
    position: relative;
}
.content .list-document .input-search i{
    font-size: 20px;
}
.content .list-document .icon-search{
    position: absolute;
    left: 16px;
    bottom: 6px;
}

.content .list-document .search{
    border-radius: 6px;
    width: 100%;
    border: none;
    background-color: white;
    padding-left: 20px;
}


.content .list-document .header{
    background-color: #0054A6;
    color: white;
    font-weight: 700;
    text-align: left;
    padding: 4px 12px;
}
.content .list-document .body a{
    background-color: #E6EEF7;
    padding: 0;
    font-size: 24px;
}
.content .list-document .body i,
.content .list-document .body{
    color: white;
    background-color: #E6EEF7;
    color: black;
    text-align: left;
    padding: 4px 12px;
}

.content .pages .num-of-page{
    color: #4D4D4D;
}
.content .pages .num-of-page .num{
    width: 30px;
    text-align: center;
    color: #0054A6;
    border: 2px solid #0054A6;
    font-weight: 700;
    border-radius: 6px;
}

.content .pages .list-page div{
    width: 32px;
    height: 32px;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0 2px;
    font-weight: 500;
    color: #666666;
}
.content .pages .list-page .active{
    background-color: #0054A6;
    color: white;
    font-weight: 700;
}
/* .mobile{
    background-color: #FFFFFF;
    opacity: 0.7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
} */
.filter-mobile{
    padding: 12px;
    background-color: #FFFFFFB2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
}
.filter-mobile .input-search i,
.filter-mobile .input-date{
    color: #0054A6;
}
.filter #search-input{
    border: none;
}
.filter-mobile .input-date{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
}
.filter-mobile .input-date i{
    font-size: 20px;
}

.documents {
    padding: 12px;
}
.documents .document-item{
    background-color: #FFFFFFB2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    padding: 16px;
    margin: 8px 0;
}
.documents .document-item .text{
    color: #0054A6;
    font-size: 14px;
    font-weight: 800;
}
.documents .document-item .date{
    color: #666666;
    font-size: 12px;
}
@media (max-width: 739px){
    .content{
        margin-top: 0 !important;
    }
    .content .new-document .row {
        width: 100%;
    }
    .content .new-document .icon-doc {
        width: 60%;

    }
    .content .new-document .text{
        font-size: 12px;
    }
    .hidden{
        display: none;
    }
    .list-document{
        background:none !important;
        box-shadow: none !important;
        padding: 0 !important;
        opacity: 1 !important;
    }
    .list-document .filter,
    .list-document .table,
    .num-of-page{
        display: none !important;
    }
    .filter-mobile{
        display: block !important;
    }
    .pages{
        justify-content: center !important;
    }
    .documents{
        display: block !important;
    }
    .input-search input {
        width: 132% !important;
        border: none;
    }
}
