.arrow-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.arrow-div {
    position: relative;
    padding: 12px 40px;
    background: #FFFFFFB2;
    color: #0054A6;
    font-weight: bold;
    font-size: 40px;
    font-family: Philosopher;
    text-align: center;
    clip-path: polygon(15% 0%, 85% 0%, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
    transition: transform 0.2s ease;
    user-select: none;
}
/* Type */
a{
    text-decoration: none;
}
.type-post{
    border-radius: 12px;
    background-color: #FFFFFFB2;
    padding: 24px;
    height: 98%;
    position: relative;
    padding-top: 12px;
}
.type-post .head{
    font-size: 24px;
    color: #0054A6;
    font-weight: 700;
    font-family: Philosopher;
}
.type-post .list-type{
    padding-left: 0;
    position: relative;
    z-index: 999;
}
.type-post .list-type li{
    padding: 12px;
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    color: #6698CA;
    font-family: Roboto;
    border-radius: 8px;
    margin-top: 12px;
    margin-bottom: 12px;
}
.type-post .list-type li i{
    color: #0054A6;
    font-size: 20px;
}
.type-post .list-type li.active i,
.type-post .list-type li.active {
    background-color: #0054A6;
    color: white;
    font-weight: 700;
}
.type-post .list-type li.active span {
    color: white;
    font-weight: 700;
}
.type-post img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
/* Slider  */
.slider{
    position: relative;
}
.carousel {
    position: relative;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-image {
    width: 100%;
    height: auto; /* Giữ tỷ lệ hình ảnh */
    max-width: none;
}
.carousel-buttons {
    height: 44px;
    position: absolute;
    bottom: -70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);

}
.carousel-buttons .button {
    position: absolute;
    right: 6%;
    bottom: 200px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
}
.carousel-buttons .prev{
    right: 14%;
}

.button:hover {
    background-color: rgba(255, 255, 255, 1);
}
.text {
    padding: 24px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
#caption .title{
    font-weight: 700;
    font-size: 36px;
    color: #0054A6;
}
#caption .description{
    font-size: 18px;
    color: #4D4D4D;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dots {
    text-align: center;
    margin-top: 10px;
    position: absolute;
    bottom: 12px;
    right: 3%;
}
.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #bbb;
    cursor: pointer;
}
.dots .active {
    background-color: #717171;
}
#nav-scroll{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: #FFFFFFB2;
    font-size: 24px;
    font-weight: 700;
    color: #0054A6;
}
.scroll{
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #FFFFFFB2;
    max-height: 454px;
    padding: 0 24px;
    overflow-y: auto; /* Thêm thanh cuộn dọc */
}
.scroll-item{
    background-color: white;
    border-radius: 4px;
    margin-bottom: 16px;
}
.scroll-item .image{
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.scroll-item img{
    height: 100%; /* Đảm bảo hình ảnh chiếm ít nhất 100% chiều cao */
    object-fit: cover;
}
.scroll-item .text{
    padding: 12px;
}
.scroll-item .text .title{
    font-weight: 700;
    font-size: 14px;
    color: #666666;
}
.scroll-item .info div{
    font-size: 12px;
    color: #858585;
}
.scroll-item .text .circle{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #858585;
}
/* Filter */
.filter {
    background-color: #FFFFFFB2;
    padding: 12px;
    border-radius: 12px;
}
.filter .search {
    position: relative;
}
.filter .search #button-search{
    position: absolute;
    left: 16px;
    top: 22%;
    border: none;
    background: white;
}
.filter .search i {
    font-size: 20px;
    color: #0054A6;
}

.filter .search input {
    font-size: 20px;
    padding: 4px 8px;
    padding-left: 48px;
    border: none;
    border-radius: 6px;
    background-color: white;
}
.filter .date input{
    font-size: 20px;
    padding: 4px 8px;
    border-radius: 6px;
    border: none;
    width: 100%;
    max-width: 160px;
}
.filter .date span{
    font-weight: 600;
    font-size: 18px;
    color: #666666;
}
.filter .date i{
    color: #0054A6;

}
.filter .date span i{
    transform: rotate(90deg);
}
/* Card */
.content .related-posts .card{
    border-radius: 8px;
}
.content .related-posts .role{
    font-size: 14px;
    color: #858585;
}
.content .related-posts .circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #03A600;
}
.content .related-posts > .title{
    font-size: 32px;
    font-weight: 600;
}
.content .related-posts .title{
    color: #0054A6;
    font-weight: 700;
}
.content .related-posts .action span{
    border-radius: 46px;
    padding: 4px 8px;
    color: #0054A6;
    background-color: #E6EEF7;
    font-weight: 600;
    font-size: 12px;
}
.content .related-posts .information{
    font-size: 14px;
    color: #858585;
}
.content .related-posts .circle-gray{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #858585;
}
/* List page */
.content .list-page div{
    width: 32px;
    height: 32px;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin: 0 2px;
    font-weight: 500;
    color: #666666;
}
.content .list-page .active{
    background-color: #0054A6;
    color: white;
    font-weight: 700;
}
@media (max-width: 739px){

    .navbar {
        display: block;
    }
    .slider{
        padding:12px 24px;
    }

    .carousel-buttons {
        width: 94%;
    }
    .carousel-buttons .button {
        right: 12%;
    }
    .carousel-buttons .prev {
        right: 24%;
    }
    .dots {
        bottom: 6%;
        right: 8%;
    }
    .list-new-post{
        padding:0px 24px;
    }
    .type-post, .filter{
        display: none !important;
    }
    .list-post{
        padding: 0 12px;
    }
    .content .related-posts .action span {
        padding: 8px 14px;
    }
}
